{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Willkommen zur Demo Registrierung</h1>

        <p>Bitte fülle das Formular aus, um einen neuen Benutzeraccount anzulegen.</p>

        {{ form(signupForm) }}

    </div>

{% endblock %}
